[submodule "zephyr"]
	path = zephyr
	url = https://github.com/zephyrproject-rtos/zephyr
	branch = v3.7.0
[submodule "freertos-kernel"]
	path = freertos-kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "actuation_module/freertos_s32z2/s32ct_config"]
	path = actuation_module/freertos_s32z2/s32ct_config
	url = https://github.com/autowarefoundation/autoware-safety-island-s32z2-config.git
	branch = main
